.typing {
  display: inline-block;
  overflow: hidden;
  animation: animated-text 5s, 1;
  box-sizing: border-box;
}
.titreProject {
  cursor: pointer;
}

@keyframes animated-text {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
