/* definition des couleurs basiques*/
$main-Color: #626d71;
$secondary-color: #cdcdc0;
$subColor: #ddbc95;
$TextColor: #b38867;

// mise en forme

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: $main-Color;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.bubbles {
  position: fixed;
  width: 100%;
  height: 50%;
}
.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  bottom: -150px;
  background: $subColor;
  animation: animate 15s infinite linear;
}
.bubbles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0;
}
.bubbles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.bubbles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.bubbles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.bubbles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.bubbles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.bubbles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.bubbles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.bubbles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 20s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 30%;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }
}
.titreProject {
  font-size: 2em;
  text-decoration: none;
}
.responsive,
#myLinks {
  display: none;
  margin: 15px;
  span {
    margin-left: 15px;
  }
}
#header,
#videoButton,
.menu,
.container,
.point,
#gauche {
  display: flex;
  justify-content: center;
}
#header,
.vidButton,
.partie,
#titre,
.contenu,
#footer {
  background-color: $TextColor;
  color: $subColor;
  border: 8px double $main-Color;
  border-radius: 20px;
}
.vidButton {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.vidButton:hover,
.partie:hover {
  background-color: $subColor;
  border-radius: 30px;
}
a,
.contenu {
  color: $main-Color;
}
.point,
.address,
li,
.diplomes,
p,
.titre_Partie:hover,
.infos {
  color: $main-Color;
}
.point {
  margin: 20px;
}
ul {
  list-style-type: none;
}
.partie {
  float: left;
  display: inline;
}
a {
  display: block;
  padding: 6px;
}
#header,
.contenu,
#titre {
  padding: 20px;
}
.contenu {
  font-style: italic;
  height: fit-content;
  a {
    color: $main-Color;
  }
}
li,
.diplomes,
p,
.address {
  line-height: 1.5;
}
.niveau {
  display: flex;
  position: relative;
  left: -2.5em;
}
.infos {
  font-size: 2;
}
.gauche {
  float: left;
  width: 50%;
}
.droite {
  overflow: auto;
}
#level {
  justify-content: center;
  position: relative;
  left: -2.5em;
}
#footer {
  bottom: 0;
  font-size: 20px;
}
#creation {
  text-align: center;
}
.content {
  width: auto;
}
.partie,
.puces,
.diplomes {
  left: -2.5em;
}
.imageBox {
  display: flex;
  justify-content: center;
}
.image {
  width: 100%;
  border-radius: 20px;
}
.link {
  display: flex;
  justify-content: center;
}
@media (max-width: 1250px) {
  .content {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  #navmenu {
    display: none;
  }
  .responsive {
    display: inline;
  }
  .ham {
    position: fixed;
    z-index: 100;
  }
  #myLinks {
    position: fixed;
    z-index: 99;
    display: none;
    background: $TextColor;
    border-radius: 20px;
    border: 8px double $main-Color;
  }
}
@media (max-width: 768px) {
  #presentation {
    width: 600px;
    height: 400px;
  }
}
@media (max-width: 610px) {
  #presentation {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 340px) {
  #presentation {
    width: 300px;
    height: 175px;
  }
}
label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: $subColor;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}
