/* definition des couleurs basiques*/
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #626d71;
  width: auto;
}

.responsive,
#myLinks {
  display: none;
}

#header,
#videoButton,
#boiteVideo,
.menu,
.container,
.point,
#gauche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

#header,
.vidButton,
.partie,
#titre,
.contenu,
#footer {
  background-color: #b38867;
  color: #ddbc95;
  border: 8px double #626d71;
  border-radius: 20px;
}

.vidButton {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.vidButton:hover,
.partie:hover {
  background-color: #ddbc95;
  border-radius: 30px;
}

a,
.contenu {
  color: #ddbc95;
}

.point,
.address,
li,
.diplomes,
p,
.titre_Partie:hover,
.infos {
  color: #626d71;
}

ul {
  list-style-type: none;
}

.partie {
  float: left;
  display: inline;
}

a {
  display: block;
  padding: 8px;
}

#header,
.contenu,
#titre {
  padding: 20px;
}

.contenu {
  font-style: italic;
  height: 400px;
}

li,
.diplomes,
p,
.address {
  line-height: 1.5;
}

.niveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -2.5em;
}

.infos {
  font-size: 2;
}

.gauche {
  float: left;
  width: 50%;
}

.droite {
  overflow: auto;
}

#level {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -2.5em;
}

#footer {
  bottom: 0;
  font-size: 20px;
}

#creation {
  text-align: center;
}

.content {
  width: auto;
}

.partie,
.puces,
.diplomes {
  position: relative;
  left: -2.5em;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1250px) {
  .content {
    width: 100%;
  }
  .contenu {
    width: 100%;
  }
  #navmenu {
    display: none;
  }
  .responsive {
    display: inline;
  }
  .ham {
    position: fixed;
    z-index: 100;
  }
  #myLinks {
    position: fixed;
    z-index: 99;
    display: none;
    background: #b38867;
    border-radius: 20px;
    border: 8px double #626d71;
  }
}

@media (max-width: 768px) {
  #presentation {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 610px) {
  #presentation {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 340px) {
  #presentation {
    width: 200px;
    height: 150px;
  }
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: #ddbc95;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotatez(45deg) translate(8px, 0px);
          transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotatez(-45deg);
          transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 50%;
  -webkit-transform: translate(30px, -11px) rotatez(45deg);
          transform: translate(30px, -11px) rotatez(45deg);
}
/*# sourceMappingURL=Style.css.map */