/* definition des couleurs basiques*/
$main-Color: #626d71;
$secondary-color: #cdcdc0;
$subColor: #ddbc95;
$TextColor: #b38867;

// mise en forme

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: $main-Color;
}
#header {
  padding: 20px;
}

#header,
#videoButton,
#videoBox,
.menu {
  display: flex;
  justify-content: center;
}

#header,
.vidButton,
.partie,
#titre {
  background-color: $TextColor;
  color: $subColor;
  border: 8px double $main-Color;
  border-radius: 20px;
}

.vidButton {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.vidButton:hover,
.partie:hover {
  background-color: $subColor;
  border-radius: 30px;
}

ul {
  list-style-type: none;
}

.partie {
  float: left;
  display: inline;
}

a {
  display: block;
  padding: 8px;
  color: $subColor;
}
.contenu {
  background-color: $TextColor;
  border: 8px double $main-Color;
  color: $subColor;
  font-style: italic;
  border-radius: 20px;
  padding: 20px;
  height: 400px;
}
.point {
  color: black;
  justify-content: center;
  display: flex;
}
li,
.diplomes,
p,
.address {
  color: $main-Color;
  line-height: 1.5;
  text-decoration: none;
}
.niveau {
  display: flex;
}
.infos {
  font-size: 2;
}
#gauche {
  display: flex;
  justify-content: center;
  float: left;
  width: 50%;
}
#droite {
  overflow: auto;
}
#level {
  justify-content: center;
}
#footer {
  border-radius: 20px;
  background: $TextColor;
  bottom: 0;
  border: 8px double $main-Color;
  font-size: 20px;
}
#creation {
  text-align: center;
}
.content {
  width: auto;
}
.container {
  display: flex;
  justify-content: center;
}
