/* definition des couleurs basiques*/
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #858585;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  position: fixed;
}

::-webkit-scrollbar {
  width: 12px;
  background: #b38867;
  background-color: #ddbc95;
  border-radius: 20px;
  border: 3px solid #858585;
}

.detract {
  -webkit-animation-name: expand;
          animation-name: expand;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes expand {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes expand {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#navmenu {
  display: contents;
}

.responsive,
#myLinks {
  display: none;
}

#videoButton,
.menu,
.container,
.point,
#gauche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portrait {
  border-radius: 20px;
  -webkit-animation-name: extends;
          animation-name: extends;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  border: 3px solid #858585;
  -ms-grid-column-align: center;
      justify-self: center;
}

@-webkit-keyframes extends {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes extends {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#desc {
  margin: auto;
}

#header,
.vidButton,
.partie,
#titre,
.contenu,
#footer {
  background-color: #b38867;
  color: #ffffff;
  border: 8px double #858585;
  border-radius: 20px;
}

.vidButton {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.vidButton:hover {
  background-color: #ddbc95;
  border-radius: 30px;
}

a,
.contenu {
  color: #ffffff;
}

.point,
.address,
li,
.diplomes,
p,
.titre_Partie:hover,
.infos {
  color: #772100;
}

ul {
  list-style-type: none;
}

.partie {
  display: inline-block;
}

.partie:hover {
  -webkit-animation-name: extend;
          animation-name: extend;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes extend {
  from {
    background: none;
  }
  to {
    background-size: 100%;
  }
}

@keyframes extend {
  from {
    background: none;
  }
  to {
    background-size: 100%;
  }
}

a {
  display: block;
  padding: 6px;
}

.contenu,
#titre {
  padding: 10px;
}

#titre {
  text-align-last: center;
}

.contenu {
  font-style: italic;
  height: 400px;
}

.contenu a {
  color: #772100;
}

ul {
  padding: 0px;
}

li,
.diplomes,
p,
.address {
  line-height: 1.5;
}

.niveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -2.5em;
}

.infos {
  font-size: 2;
}

.gauche {
  float: left;
  width: 50%;
}

.droite {
  overflow: auto;
}

#level {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -2.5em;
}

#footer {
  bottom: 0;
  font-size: 20px;
}

#creation {
  text-align: center;
}

.content {
  width: auto;
}

.partie,
.puces,
.diplomes {
  left: -2.5em;
}

.imageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image {
  width: 50%;
  border-radius: 20px;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color {
  -webkit-animation: changeColor 2s linear infinite;
          animation: changeColor 2s linear infinite;
}

@-webkit-keyframes changeColor {
  0% {
    color: #772100;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #772100;
  }
}

@keyframes changeColor {
  0% {
    color: #772100;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #772100;
  }
}

.mot {
  display: inline;
  text-indent: 10px;
}

.mot-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #ffffff;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}

.mot-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  color: #ffffff;
}

.mot-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  color: #ffffff;
}

.mot-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  color: #ffffff;
}

.mot-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  color: #ffffff;
}

.mot-1 span:nth-child(6) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  color: #ffffff;
}

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .phrase {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .phrase {
    font-size: 9px;
  }
}

@media (max-width: 1250px) {
  body {
    overflow: scroll;
  }
  .mot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content {
    width: 100%;
  }
  .contenu {
    width: 100%;
  }
  #navmenu {
    display: none;
  }
  .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 25px;
  }
  .ham {
    position: fixed;
    z-index: 100;
  }
  #myLinks {
    position: fixed;
    z-index: 99;
    display: none;
    background: #b38867;
    border-radius: 20px;
    border: 8px double #772100;
  }
  #header {
    height: 130px;
  }
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: #ddbc95;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotatez(45deg) translate(8px, 0px);
          transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotatez(-45deg);
          transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 50%;
  -webkit-transform: translate(30px, -11px) rotatez(45deg);
          transform: translate(30px, -11px) rotatez(45deg);
}
/*# sourceMappingURL=Style.css.map */