/* definition des couleurs basiques*/
$main-Color: #626d71;
$secondary-color: #cdcdc0;
$subColor: #ddbc95;
$TextColor: #b38867;

// mise en forme

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: $main-Color;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 12px;
  background: $TextColor;
  background-color: $subColor;
  border-radius: 20px;
  border: 3px solid $main-Color;
}
.detract {
  animation-name: expand;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes expand {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
#navmenu {
  display: contents;
}

.responsive,
#myLinks {
  display: none;
}
#header,
#videoButton,
.menu,
.container,
.point,
#gauche {
  display: flex;
  justify-content: center;
}
#header,
.vidButton,
.partie,
#titre,
.contenu,
#footer {
  background-color: $TextColor;
  color: $subColor;
  border: 8px double $main-Color;
  border-radius: 20px;
}
.vidButton {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.vidButton:hover {
  background-color: $subColor;
  border-radius: 30px;
}
a,
.contenu {
  color: $subColor;
}
.point,
.address,
li,
.diplomes,
p,
.titre_Partie:hover,
.infos {
  color: $main-Color;
}
ul {
  list-style-type: none;
}
.partie {
  display: inline-block;
}
.partie:hover {
  animation-name: extend;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes extend {
  from {
    background: none;
  }
  to {
    background-size: 100%;
  }
}
a {
  display: block;
  padding: 6px;
}
#header,
.contenu,
#titre {
  padding: 20px;
}
.contenu {
  font-style: italic;
  height: 400px;
  a {
    color: $main-Color;
  }
}
li,
.diplomes,
p,
.address {
  line-height: 1.5;
}
.niveau {
  display: flex;
  position: relative;
  left: -2.5em;
}
.infos {
  font-size: 2;
}
.gauche {
  float: left;
  width: 50%;
}
.droite {
  overflow: auto;
}
#level {
  justify-content: center;
  position: relative;
  left: -2.5em;
}
#footer {
  bottom: 0;
  font-size: 20px;
}
#creation {
  text-align: center;
}
.content {
  width: auto;
}
.partie,
.puces,
.diplomes {
  left: -2.5em;
}
.imageBox {
  display: flex;
  justify-content: center;
}
.image {
  width: 100%;
  border-radius: 20px;
}
.link {
  display: flex;
  justify-content: center;
}

@media (max-width: 1250px) {
  .content {
    width: 100%;
  }
  .contenu {
    width: 100%;
  }
  #navmenu {
    display: none;
  }
  .responsive {
    display: flex;
    margin: 25px;
  }
  .ham {
    position: fixed;
    z-index: 100;
  }
  #myLinks {
    position: fixed;
    z-index: 99;
    display: none;
    background: $TextColor;
    border-radius: 20px;
    border: 8px double $main-Color;
  }
}
label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: $subColor;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}
