/* definition des couleurs basiques*/
$main-Color: #626d71;
$secondary-color: #cdcdc0;
$subColor: #ddbc95;
$TextColor: #b38867;

// mise en forme

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: $main-Color;
}
#header {
  background-color: $TextColor;
  display: flex;
  color: $subColor;
  justify-content: center;
  border-radius: 20px;
  border: 8px double $main-Color;
}
#videoButton {
  display: flex;
  justify-content: center;
}
.vidButton {
  color: $subColor;
  display: inline-block;
  background-color: $TextColor;
  border-radius: 20px;
  border: 8px double $main-Color;
  text-align: center;
  font-size: 18px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.vidButton:hover {
  background-color: $subColor;
  width: 250px;
}
#videoBox {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
}
li {
  float: left;
  display: inline;
  background-color: $TextColor;
  border: 8px double $main-Color;
  border-radius: 20px;
}

a {
  display: block;
  padding: 8px;
  color: $subColor;
}
.menu {
  display: flex;
  justify-content: center;
}
#titre {
  color: $subColor;
  background-color: $TextColor;
  border-radius: 20px;
  border: 8px double $main-Color;
  text-align: center;
  font-size: 25px;
}
